<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="getusuarioForm" (ngSubmit)="obtenerUsuario()" 
                    enctype="multipart/form-data">
                        <div class="row mb-4">
                            <p style="font-size: 24px;color: rgba(61, 139, 202, 1);line-height: 34px;text-align: center;font-family:Arial, Helvetica, sans-serif;font-weight:700;font-style:normal"
                                class="mb-0 text-center">
                                <strong>Consultar Usuario</strong>
                            </p>
                        </div>
                        <div class="row mb-0 d-flex justify-content-start">
                            <p>NoteId</p>
                        </div>
                        <div class="form-outline mb-2 form-group label-floating">
                            <input type="text" formControlName="noteId" class="form-control" />
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2 ">
                                <div class="row justify-content-center">
                                    <button  type="submit" [disabled]="getusuarioForm.invalid" style="background-color: rgba(38, 168, 223, 1)" class="btn btn-primary btn-block mb-4">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div *ngIf="usuario.noteId != '' " class="card-body">
                    <thead>
                        <th scope="col">userId</th>
                        <th scope="col">noteId</th>
                        <th scope="col">nombres</th>
                        <th scope="col">apellidos</th>
                        <th scope="col">createdAt</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{usuario.userId}}</td>
                            <td>{{usuario.noteId}}</td>
                            <td>{{usuario.nombres}}</td>
                            <td>{{usuario.apellidos}}</td>
                            <td>{{usuario.createdAt}}</td>
                        </tr>   
                    </tbody>
                </div>
            </div>
        </div>
    </div> 
 </div>